<%= form_for(@student_info) do |f| %>
  <% if @student_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_info.errors.count, "error") %> prohibited this student_info from being saved:</h2>

      <ul>
      <% @student_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.number_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :student_name %><br>
    <%= f.text_field :student_name %>
  </div>
  <div class="field">
    <%= f.label :referenced_class_id %><br>
    <%= f.collection_select(:referenced_class_id, ClassInfo.all, :class_id, :class_name, {}, { :multiple => false }) %>
	
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
