<%= form_for(@result_info) do |f| %>
  <% if @result_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result_info.errors.count, "error") %> prohibited this result_info from being saved:</h2>

      <ul>
      <% @result_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.collection_select(:student_id, StudentInfo.all, :student_id, :student_name, {}, { :multiple => false }) %>
  </div>
  <div class="field">
    <%= f.label :exam_id %><br>
    <%= f.collection_select(:exam_id, ExamInfo.all, :exam_id, :exam_name, {}, { :multiple => false }) %>
  </div>
  <div class="field">
    <%= f.label :subject_id %><br>
    <%= f.collection_select(:subject_id, SubjectInfo.all, :subject_id, :subject_name, {}, { :multiple => false }) %>
  </div>
  <div class="field">
    <%= f.label :marks_obtained %><br>
    <%= f.number_field :marks_obtained %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
