<h1>New Result Info</h1>

<form action="create" method="post">
<input type='hidden' name="result_subject_id" value="<%=@subject_id%>">
<table>
<thead><tr><th>Roll No</th><th>Name</th><th>Marks</th></tr></thead>
<tbody>
<% @students.each do |s|%>
<tr>
<td>
  <%= s.student_id %>
</td>

<td>
  <%= s.student_name %>
</td>
<td>
  <%= number_field_tag 's'+s.student_id.to_s%>
</td>
</tr>
<% end %>
</tbody></table>
<%= submit_tag  "Record Marks"%>
</form>
<p><p>
<%= link_to 'Back', result_infos_path %>
